@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kaushan Script", serif;
    list-style: none;
}

a {
    text-decoration: none;
    color: #ca2887;
}

header {
    background-color: #100d11;
    padding: 1rem 2.5rem;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    padding: 3rem;
    flex-direction: column;
    gap: 4rem;
}

footer {
    background-color: #100d11;
    display: flex;
    padding: 2rem;
}

/*Menu*/
.navlinks ul {
    display: flex;
    gap: 2rem;
}

.navlinks ul li {
    font-size: 1.2rem;
    transition:all 0.2s;
}

.navlinks ul li:hover {
    text-decoration: underline #e7e7e2 3px;
    transform: scale(1.3);
}

/*Logo*/
.logocontainer {
    width: 10rem;
}

.logocontainer img{
    width: 100%;
    border-radius: 100%;
}

/*imagen menu*/
.navbutton{
    display: none;
    }

.navbutton img {
    width: 100%;
}

/*Imagenes*/
.homecontainer {
    font-family: "Lugrasimo", serif;
    display: flex;
    justify-content: space-between;
}

/*Espaciado*/
.cardcontainer {
    display: flex;
    gap: 2rem;
    flex-direction: column;    
}

.card {
    width: 24.4%;
    background-color: #6d5a72;
    border-radius: 10px;
    display: flex;
    flex-wrap:wrap;
    }

.cardimagecontainer {
    flex: 1;
}

.cardimagecontainer img {
    width: 15rem;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.cardinfocontainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*footer*/
.footerlinks {
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    
}
.footerlinks img {
    width: 2rem;
    border-radius: 100%;
    
}

/*mensaje icono*/
.fixedicon{
    background-color: #ca2887;
    width: 4rem;
    padding: .1rem;
    border-radius: 100%;
    position: fixed;
    bottom: 0.5rem;
    right: 1rem;
    z-index: 1000;
}

.fixedicon img{
    filter: invert(0);
    width: 100%;
}


